/********************
BODY
********************/
body {
  padding-top: 50px;
  font-family: 'Roboto Condensed';
}

.dropdown:hover .dropdown-menu {
  display: block;
}



/********************
BANNER
********************/

.banner {
  font-family: 'Roboto Condensed';
  height: 600px;
  width: 100%;
  max-height: 50%;
  max-width: 100%;
  min-height: 20%;
  min-width: 30%;
  background-image: url("http://www.mediafire.com/convkey/63f5/8cukn232x28q5xkzg.jpg");
  background-size: cover;
  background-position: center;
  color: #FFF;
}

#banner-sub {
  font-family: 'Source Code Pro';
}

#banner-back {
  background-color: rgba(97,99,98,0.5);
  width: 50%;
  padding: 1%;
}

}

#banner-sub {
  font-family: 'Source Code Pro';
}



/********************
ICONS
********************/

.icon-main {
  font-size: 4em;
  border: 1px solid #000;
  padding: 5%;
  border-radius: 100px;
  height: 100px;
  width: 100px;
}

.icon-footer {
  font-size: 2em;
  padding: 2% 1% 0 1%;
  color: #9d9d9d;
  margin: 0 0 0.5% 0;
}


.icon-footer:hover {
  color: #fff;
}



/*******************
FOOTER
*******************/

footer {
  background-color: #101010;
}

footer p {
  color: #9d9d9d;
}




/********************
HOME SECTIONS
********************/

.section-one {
  text-align: center;
  margin: 10% 0 0 0;
}

.section-two img {
  float: right;
  width: 80%;
  max-height: 300px;
  border: 2px solid #464965;
}

.section-two h3 {
  width: 65px;
  border-bottom: 1px solid black;  
}

.section-two p {
  max-width: 70%;
}

.section-two {
  margin: 10% 0 0 0;
  padding: 4% 2% 4% 2%;
  background-color: #eee;
}

.sec2-move {
  transform: translate(100px, 0);
  font-size: 1.5em;
}